<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-cmn-Hans">
	<head>
		<title>区域列表</title>
		<meta charset="UTF-8">
		<link rel="shortcut icon" type="image/ico" href="/static/images/favorite.ico"/>
		<link rel="stylesheet" href="/static/css/bootstrap.css">
		<link rel="stylesheet" href="/static/css/font-awesome.css">
		<link rel="stylesheet" href="/static/common/jquery-ui/jquery-ui.min.css">
		<link rel="stylesheet" href="/static/css/my.css">
		<script src="/static/js/jquery-3.2.1.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/common/jquery-ui/jquery-ui.min.js"></script>
		<script>
			/* 打开效果展示模态框  */
			function openShowModal() {
				var title="<span class='fa fa-yelp'></span> 三级联动效果展示";
				var url="/area/show";
				var width="600px";
				var height="100px";
				// 调用父页的方法展示模态框
				parent.openModal(title, url, width, height);
			}
		
			/* 模糊查询获取分页列表  */
			function getAreaListByLike() {
				var keyword = $("#search").val();
				var url = "/area/index?keyword=" + keyword;
				parent.openFrame(url);
			}
			
			/* 刷新区域列表页面 */
			function refreshPage() {
				var url = "/area/index";
				parent.openFrame(url);
			}
			
			/* 启动tooltip插件 */
			$(function() {
			    $(document).tooltip();
			});
		</script>
	</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
		    <div>
		        <form class="navbar-form navbar-right">
		            <div class="form-group">
		                <input type="text" id="search" class="form-control" placeholder="Search..." autocomplete="off" title="可以根据区域编码、区域名称查询" />
		            </div>
		            <button type="submit" class="btn btn-default" onclick="getAreaListByLike()"><i class="fa fa-search"></i></button>
		            <button type="submit" class="btn btn-default" onclick="refreshPage()"><i class="fa fa-refresh"></i></button>
		            <button type="submit" class="btn btn-default" onclick="openShowModal()">效果展示</button>
		        </form>
		    </div>
			</div>
		</nav>
		<div class="table-responsive">
            <table class="table table-hover" id="mytable">
            	<caption>
            		<strong>中国区域信息列表</strong>
            	</caption>
              	<thead>
                	<tr>
	                  <th>区域ID</th>
	                  <th>区域行政编码</th>
	                  <th>区域名称</th>
	                  <th>上级区域行政编码</th>
                	</tr>
              	</thead>
              	<tbody>
                	<tr th:each="area:${page.list}">
	                  	<td th:text="${area.areaId}"></td>
	                  	<td th:text="${area.areaCode}"></td>
	                  	<td th:text="${area.areaName}"></td>
	                  	<td th:text="${area.parentCode}"></td>
                	</tr>
              	</tbody>
              	<tfoot>
              		<tr>
						<td colspan="2" style="text-align: left;">
							共查询
							<label th:text="${page.totalSize}"></label>
							条结果，共
							<label th:text="${page.totalPage}"></label>
							页。
						</td>
						<td colspan="2" style="text-align: right;">
							<a class="btn btn-primary" th:href="@{/area/index(pageNum=1,keyword=${page.keyword})}">首页</a>
							<a class="btn btn-primary disabled" th:if="${page.pageNum} == 1" href="#">上一页</a>
							<a class="btn btn-primary" th:unless="${page.pageNum} == 1" th:href="@{/area/index(pageNum=${page.pageNum - 1},keyword=${page.keyword})}">上一页</a>
							<a class="btn btn-primary" th:text="${page.pageNum}"></a>
							<a class="btn btn-primary disabled" th:if="${page.pageNum} == ${page.totalPage} or ${page.totalPage} == 0" href="#">下一页</a>
							<a class="btn btn-primary" th:unless="${page.pageNum} == ${page.totalPage} or ${page.totalPage} == 0" th:href="@{/area/index(pageNum=${page.pageNum + 1},keyword=${page.keyword})}">下一页</a>
							<a class="btn btn-primary" th:href="@{/area/index(pageNum=${page.totalPage},keyword=${page.keyword})}">尾页</a>
						</td>
					</tr>
              	</tfoot>
			</table>
    	</div>
	</body>
</html>