<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-cmn-Hans">
	<head>
	  	<title>SanFu商城（SanFu.COM）正品低价、品质保障、配送及时、轻松购物！</title>
	  	<meta charset="UTF-8">
	  	<link rel="icon" href="/static/images/favorite.ico" type="image/x-icon"/>
	  	<link rel="stylesheet" href="/static/css/main.css">
  		<link rel="stylesheet" href="/static/common/layui/css/layui.css">
  		<script src="/static/common/layui/layui.js"></script>
  		<script src="/static/js/jquery-3.3.1.min.js"></script>
  		<script>
	  		/* 删除购物车 */
			function deleteCart(cartId) {
				$.ajax({
					url: "/cart/delete",
					type: "delete",
					data: {"cartId": cartId},
					dataType: "json",
					success: function(data) {
						if (data) {
							alert("该商品已经从购物车中移除");
							location.reload(true);
						} else {
							return false;
						}
					}
				});
			}
  		</script>
	</head>
	<body>
		<div class="site-nav-bg" style="min-width: 1394px;">
			<div class="site-nav w1200">
		      	<p class="sn-back-home">
			        <i class="layui-icon layui-icon-home"></i>
			        <a href="/" target="_blank">首页</a>
		      	</p>
		    </div>
		</div>
		<div class="header" style="min-width: 1394px;">
		    <div class="headerLayout w1200">
		      	<div class="headerCon">
		        	<h1 class="mallLogo">
		          		<a href="/index" title="进入SanFu商城">
		            		<img src="/static/images/logo2.png">
		          		</a>
        			</h1>
		    	</div>
		  	</div>
		</div>
		  	<div class="content content-nav-base shopcart-content">
		    	<div class="main-nav" style="min-width: 1394px;"></div>
		    	<div class="cart w1200" style="min-width: 1394px;">
		      		<div class="cart-table-th">
		        		<div class="th th-chk">
		          			<div class="select-all">
					            <div class="cart-checkbox">
					              	<input class="check-all check" id="allCheckked" type="checkbox" value="true">
					            </div>
		          				<label>&nbsp;&nbsp;全选</label>
		          			</div>
		        		</div>
		        		<div class="th th-item">
		          			<div class="th-inner">
		          				  商品
		          			</div>
		        		</div>
		        		<div class="th th-price">
		          			<div class="th-inner">
		           				 单价
		          			</div>
		        		</div>
				        <div class="th th-amount">
				          	<div class="th-inner">
				           		 数量
				          	</div>
				        </div>
				        <div class="th th-sum">
				          	<div class="th-inner">
				           		 小计
				          	</div>
				        </div>
		        		<div class="th th-op">
		          			<div class="th-inner">
		           				 操作
		          			</div>
		        		</div>  
		      		</div>
		      		<div class="OrderList">
		        		<div class="order-content" id="list-cont">
		          			<ul class="item-content layui-clear" th:each="cart:${cartList}">
		            			<li class="th th-chk">
		              				<div class="select-all">
		                				<div class="cart-checkbox">
		                  					<input class="CheckBoxShop check" id="" type="checkbox" num="all" name="select-all" value="true">
		                				</div>
		              				</div>
		            			</li>
		            			<li class="th th-item">
					              	<div class="item-cont">
						                <a th:href="@{/product/detail(productId=${cart.sku.product.productId})}" target="_blank"><img th:src="|http://localhost:8080${cart.sku.product.subImg}|" alt=""></a>
						                <div class="text">
						                  	<div class="title" th:text="${cart.sku.product.productName}"></div>
						                  	<p>
						                  		<span th:each="value:${cart.sku.valueList}" th:text="|${value.valueName}&nbsp;|"></span>
						                  	</p>
						                </div>
					              	</div>
		            			</li>
		            			<li class="th th-price">
		              				<span class="th-su" th:text="${cart.sku.currentPrice}"></span>
		            			</li>
		            			<li class="th th-amount">
		              				<div class="box-btn layui-clear">
		                				<div class="less layui-btn">-</div>
		                					<input class="Quantity-input" type="text" name="count" th:value="${cart.count}" readonly="readonly">
		                				<div class="add layui-btn">+</div>
		              				</div>
		            			</li>
		            			<li class="th th-sum">
		              				<span class="sum">189.00</span>
		            			</li>
		            			<li class="th th-op">
		             	 			<a th:href="|javascript:deleteCart(${cart.cartId})|"><span class="dele-btn">删除</span></a>
		            			</li>
		          			</ul>
		       	 		</div>
		      		</div>
		      		<div class="FloatBarHolder layui-clear">
		        		<div class="th th-chk">
				          	<div class="select-all">
				          	  	<div class="cart-checkbox">
				              		<input class="check-all check" id="" name="select-all" type="checkbox"  value="true">
				            	</div>
				            	<label>&nbsp;&nbsp;已选<span class="Selected-pieces">0</span>件</label>
				          	</div>
				        </div>
				        <div class="th batch-deletion">
				          	<span class="batch-dele-btn">批量删除</span>
				        </div>
				        <div class="th Settlement">
				          	<button class="layui-btn">结算</button>
				        </div>
				        <div class="th total">
				          	<p>应付：<span class="pieces-total">0</span></p>
				        </div>
				    </div>
		    	</div>
		  	</div>
		<script>
	  		layui.config({
	    		base: '/static/js/util/'
	  		}).use(['mm','jquery','element','car'],function(){
	    		var mm = layui.mm,$ = layui.$,element = layui.element,car = layui.car;
	    		car.init();
			});
		</script>
	</body>
</html>