.table > tbody > tr > td, .table > thead > tr > th {
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
}
.table > caption {
	font-size: 20px;
	text-align: center;
	border-bottom: 2px solid #ddd;
}
.navbar {
	margin-bottom: 0;
}
.btn-group .btn-sm {
	padding: 1px 10px;
}
.table > tbody > tr > td {
	padding: 5px 8px;
}

