<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-cmn-Hans">
	<head>
		<title>支付类型列表</title>
		<meta charset="UTF-8">
		<link rel="shortcut icon" type="image/ico" href="/static/images/favorite.ico"/>
		<link rel="stylesheet" href="/static/css/bootstrap.css">
		<link rel="stylesheet" href="/static/css/font-awesome.css">
		<link rel="stylesheet" href="/static/common/jquery-ui/jquery-ui.min.css">
		<link rel="stylesheet" href="/static/css/my.css">
		<script src="/static/js/jquery-3.2.1.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/common/jquery-ui/jquery-ui.min.js"></script>
		<script>
			/* 打开新增支付类型模态框  */
			function openAddModal() {
				var title="<span class='fa fa-user-plus'></span> 新增支付类型信息";
				var url="/payment/add";
				var width="550px";
				var height="300px";
				// 调用父页的方法展示模态框
				parent.openModal(title, url, width, height);
			}

			/* 打开支付类型详情模态框  */
			function openDetailModal(paymentId) {
				var title="<span class='fa fa-user-secret'></span> 支付类型详情";
				var url="/payment/detail/" + paymentId;
				var width="550px";
				var height="280px";	
				// 调用父页的方法展示模态框
				parent.openModal(title, url, width, height);
			}
			
			/* 打开修改支付类型模态框  */
			function openUpdateModal(paymentId) {
				var title="<span class='fa fa-wrench'></span> 修改支付类型信息";
				var url="/payment/update?paymentId=" + paymentId;
				var width="550px";
				var height="300px";
				// 调用父页的方法展示模态框
				parent.openModal(title, url, width, height);
			}
			
			/* 模糊查询获取分页列表  */
			function getpaymentListByLike() {
				var keyword = $("#search").val();
				var url = "/payment/index?keyword=" + keyword;
				parent.openFrame(url);
			}
				
			/* 修改支付类型状态  */
			function changeStatus(paymentId, paymentName, statusCode) {
				var flag;
				if ("ENABLE" == statusCode) {
					flag = confirm("你确定要启用" + paymentName + "吗?");
				} else {
					flag = confirm("你确定要禁用" + paymentName + "吗?");
				}
				if (flag) {
					$.ajax({
						url: "/payment/changeStatus/" + paymentId + "/" + statusCode,
						type: "put",
						dataType: "json",
						success: function(data) {
							if (data) {
								if ("ENABLE" == statusCode) {
									alert(paymentName + "已被启用！");
								} else {
									alert(paymentName + "已被禁用！");
								}
							} else {
								if ("ENABLE" == statusCode) {
									alert(paymentName + "启用失败！");
								} else {
									alert(paymentName + "禁用失败！");
								}
							}
							var url = "/payment/index";
							parent.openFrame(url);
						} 
					});
				}
			}
			
			/* 刷新支付类型列表页面 */
			function refreshPage() {
				var url = "/payment/index";
				parent.openFrame(url);
			}
			
			/* 启动tooltip插件 */
			$(function() {
			    $( document ).tooltip();
			});
		</script>
	</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
		    <div>
		        <form class="navbar-form navbar-right">
		            <div class="form-group">
		                <input type="text" id="search" class="form-control" placeholder="Search..." autocomplete="off" title="可以根据支付类型名称、状态名称查询" />
		            </div>
		            <button type="submit" class="btn btn-default" onclick="getpaymentListByLike()"><i class="fa fa-search"></i></button>
		            <button type="submit" class="btn btn-default" onclick="refreshPage()"><i class="fa fa-refresh"></i></button>
		            <button type="button" class="btn btn-default navbar-btn" onclick="openAddModal()">
		        		新增支付类型
		        	</button>
		        </form>
		    </div>
			</div>
		</nav>
		<div class="table-responsive">
            <table class="table table-hover" id="mytable">
            	<caption>
            		<strong>支付类型信息列表</strong>
            	</caption>
              	<thead>
                	<tr>
	                  <th>支付类型ID</th>
	                  <th>支付类型名称</th>
	                  <th>支付类型状态</th>
	                  <th>操作</th>
                	</tr>
              	</thead>
              	<tbody>
                	<tr th:each="payment:${page.list}">
	                  	<td th:text="${payment.paymentId}"></td>
	                  	<td th:text="${payment.paymentName}"></td>
	                  	<td th:if="${payment.status.statusCode} eq 'ENABLE'" th:text="${payment.status.statusName}" style="color: green;"></td>
	                  	<td th:unless="${payment.status.statusCode} eq 'ENABLE'" th:text="${payment.status.statusName}" style="color: red;"></td>
                		<td style="min-width: 206px;">
                			<div class="btn-group">
  								<a class="btn btn-info btn-sm" th:href="|javascript:openDetailModal(${payment.paymentId})|">详情</a>
	                			<a class="btn btn-primary btn-sm" th:href="|javascript:openUpdateModal(${payment.paymentId})|">修改</a>
	                			<a class="btn btn-success btn-sm" th:if="${payment.status.statusCode} eq 'DISABLE'" th:href="|javascript:changeStatus(${payment.paymentId},'${payment.paymentName}','ENABLE')|">启用</a>
	                			<a class="btn btn-warning btn-sm" th:unless="${payment.status.statusCode} eq 'DISABLE'" th:href="|javascript:changeStatus(${payment.paymentId},'${payment.paymentName}','DISABLE')|">禁用</a>
  							</div>
                		</td>
                	</tr>
              	</tbody>
              	<tfoot>
              		<tr>
						<td colspan="2" style="text-align: left;">
							共查询
							<label th:text="${page.totalSize}"></label>
							条结果，共
							<label th:text="${page.totalPage}"></label>
							页。
						</td>
						<td colspan="3" style="text-align: right;">
							<a class="btn btn-primary" th:href="@{/payment/index(pageNum=1,keyword=${page.keyword})}">首页</a>
							<a class="btn btn-primary disabled" th:if="${page.pageNum} == 1" href="#">上一页</a>
							<a class="btn btn-primary" th:unless="${page.pageNum} == 1" th:href="@{/payment/index(pageNum=${page.pageNum - 1},keyword=${page.keyword})}">上一页</a>
							<a class="btn btn-primary" th:text="${page.pageNum}"></a>
							<a class="btn btn-primary disabled" th:if="${page.pageNum} == ${page.totalPage} or ${page.totalPage} == 0" href="#">下一页</a>
							<a class="btn btn-primary" th:unless="${page.pageNum} == ${page.totalPage} or ${page.totalPage} == 0" th:href="@{/payment/index(pageNum=${page.pageNum + 1},keyword=${page.keyword})}">下一页</a>
							<a class="btn btn-primary" th:href="@{/payment/index(pageNum=${page.totalPage},keyword=${page.keyword})}">尾页</a>
						</td>
					</tr>
              	</tfoot>
			</table>
    	</div>
	</body>
</html>